.head_laporan {
	font-size: 14px;
	text-transform: uppercase;
  text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
  line-height: 24px;
	display: inline;
	margin-top: -70px;
	font-weight: bold;
}
.sub {
	margin-bottom: 30px;
}
.head_laporan span {
	font-size: 12px;
}
.head_laporan span.alamat {
	font-size: 12px;
	text-transform: capitalize;
}
.logo {
	width: 70px;
	display: inline;
}
.p1 {
	margin-top: 50px;
	width: 200px;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	float: left;
}
.marp{
	margin-left: 80px;
	margin-top: 0px;
}
.head-surat {

	margin-bottom: 10px;
}
.konten {
	padding: 20px 150px 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
		line-height: 20px;
}
tbody tr td {
	border: 1px solid #e6e6e6;
	vertical-align: text-top;
}
table tr td {
    font-weight: 300;
}
th, td {
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
th {
    background-color: #4db6ac;
    color: white;
}

h2.laporan {
	font-size: 14px;
	font-weight: bold;
}

/*SIMPLE*/
/*table {
    font-family: 'Time New Roman', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
}
table tr td {
    font-weight: 100;
}
tbody tr td {
	vertical-align: text-top;
}
thead tr th {
  background: #EBEBEB;
  font-weight: 100;
  color: #000;
  text-transform: capitalize;
}
td, th {
	font-weight: 100;
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    color:#000;
}*/
