body {
  background: #fff;
  font-family:"Times New Roman", sans-serif;
  font-size: 12px;
}
span.gap {
 color: #fff;
}
.kop {
  padding: 0 30px;
}
.head {
	margin-top: 10px;
	text-align: center;
  font-weight: bold;
}
.head u {
		font-size: 16px;
}
.head span {
	font-size: 12px;
}
table {
  line-height: 25px;
}
.tanda-tangan {
  text-align: center;
  margin-left: 400px;
}

table tr td {
  vertical-align: top;
}
table.catatan {
  line-height: 18px;
}

.content {
  padding: 20px 40px;
}
